@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: 'Montserrat', cursive;
    background-color: #272727;
    color: white;
}
.top-page {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }
  
  .top-page header {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }
  
  .top-page header h1 {
    margin-left: 20px;
  }
  
  .top-page nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 20px;
  }
  
  .top-page nav li {
    margin-left: 40px;
  }
  .top-page nav ul {
    list-style: none;
    padding: 0px; 
    margin: 0;
  }
  
  .top-page nav li {
    text-decoration: none;
    list-style: none ;
  }
  
  .top-page nav a {
    text-decoration: none; 
  }
  .top-page form {
    margin-left: 20px;
  }
  .top-page form input[type="search"] {
      padding: 10px;
      border: 1px solid;
      border-radius: 5px;
      width: 250px;
      background-color: white;
    }
    .top-page form input[type="search"]::placeholder {
        color: #000;
      }
    .top-page form input[type="submit"] {
        padding: 10px;
        border: 1px solid;
        border-radius: 5px;
        width: 100px;
        background-color: white;
        color: black;
      }
